<div id="header">
    <div class="logo">
        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}" alt="Irisk"></a>
        <p>BELARUS</p>
    </div>
    <div class="k-contact">
        <ul>
            <li>{{ configuration.get('PHONE_1') }}</li>
            <li>{{ configuration.get('PHONE_2') }}</li>
            <li><a href="#" class="btn btn-success" data-toggle="modal" data-target="#zakazatzvonok">заказать звонок</a></li>
        </ul>
    </div>
    <div class="worktime">
        <p>
            <i class="fa fa-clock-o"></i> <b>{{ configuration.get('WORKTIME') }}</b><br/>
            {{ configuration.get('WORKDAYS') }}
        </p>
    </div>
    <div class="mycart">
        <a href="{{ path('cart') }}"> <i class="fa fa-shopping-cart"></i> Корзина</a>
        <p>
            <ins>0 товаров</ins>
        </p>
    </div>
    <div class="search">
        <form action="{{ path('search') }}" method="get">
            <input type="text" name="q" placeholder="Поиск по каталогу">
        </form>
    </div>
    <div class="navig">
        {{ knp_menu_render('main') }}
    </div>
</div>