<div id="top-menu">
    <div class="container clearfix ">
        <div class="logo">
            <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}" alt="Irisk-bel.by"></a><br/>
            <span>Беларусь</span>
        </div>
        <div class="search">
            <form action="{{ path('search') }}" method="get">
                <input type="text" name="q" required="required" placeholder="Поиск товаров в каталоге">
                <button><i class="fa fa-search fa-2"></i></button>
            </form>
        </div>
        <div class="cart">
            <a href="{{ path('cart') }}"><span>Корзина (0)</span></a>
        </div>
        <div class="worktime">
            <p>Время работы:</p>
                <span>
                    {{ configuration.get('WORKTIME') }}<br/>
                    {{ configuration.get('WORKDAYS') }}
                </span>
        </div>
        <div class="contacts">
            <a href="tel:+{{ configuration.get('PHONE_1')|digits }}">{{ configuration.get('PHONE_1') }}</a><br/>
            <a href="tel:+{{ configuration.get('PHONE_2')|digits }}">{{ configuration.get('PHONE_2') }}</a><br/>
            <div class="action"><label for = "callback" class="btn btn-callback">Вам перезвонить?</label></div>
        </div>
    </div>
</div>
<div id="header-nav">
    <div class="container clearfix">
        <nav>
            {{ knp_menu_render('main') }}
        </nav>
    </div>
</div>