{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/accordion.css') }}">
    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/catalog.css') }}">
    <link rel="stylesheet" href="{{ asset('css/news.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/nivo-lightbox.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('themes/default/default.css') }}" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/slider.js') }}"></script>
    <script src="{{ asset('js/accord.js') }}"></script>
    <script src="{{ asset('js/nivo-lightbox.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('a').nivoLightbox();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="main-wrapper">
        {% include '@App/Component/header.html.twig' %}
        {% block content %}{% endblock %}
    </div>
    {% include '@App/Component/footer.html.twig' %}
    {% include '@App/Component/modal.html.twig' %}
{% endblock %}