{% extends '@App/layout.html.twig' %}

{% block content %}
    {% include '@App/slideshow.html.twig' %}
    <div class="margin"></div>
    <div id="katalog" class="clearfix">
        {% include '@App/catalogMenu.html.twig' %}
        <div class="right-side clearfix">
            <div class="right-head">
                <div class="breadcrumbs">
                    {{ knp_menu_render('breadcrumbs', {template: 'AppBundle::breadcrumbs.html.twig'}) }}
                </div>
            </div>
            <div class="tovar-box clearfix">
                <ul>
                    {% for subcategory in subcategories %}
                        {% set url = path('catalog', {'path': subcategory.slugPath}) %}
                        <li>
                            <h2><a href="{{ url }}">{{ subcategory.title }}</a></h2>
                            {% if subcategory.filename is not empty %}
                                <a href="{{ url }}">
                                    <img src="{{ vich_uploader_asset(subcategory, 'file')|imagine_filter('small') }}">
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}