{% extends '@App/layout.html.twig' %}

{% block content %}
    {{ render(controller('AppBundle:Component:gallery')) }}
    <div id="catalog">
        <div class="container clearfix">
            {% include '@App/Component/catalogMenu.html.twig' %}
            <div class="right-side clearfix">
                {% include '@App/Component/catalogBreadcrumbs.html.twig' %}
                <div class="rs-tovbox clearfix">
                    {% for item in subcategories %}
                        <div class="rs-item clearfix">
                            <div class="t-body">
                                <a href="{{ path('catalog', {'path': item.slugPath}) }}">
                                    <img src="{{ vich_uploader_asset(item, 'file')|imagine_filter('category_catalog') }}" alt="{{ item.title }}">
                                    <span>{{ item.title }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include '@App/Component/catalogBreadcrumbs.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}