{% macro productItem(product) %}
    <div class="p-item">
        <div class="p-head">
            <a href="{{ path('product', {'url': product.slug}) }}">
                {{ product.title }}
            </a>
        </div>
        <div class="p-body">
            <a href="{{ path('product', {'url': product.slug}) }}">
                <img src="{{ vich_uploader_asset(product, 'file')|imagine_filter('product_homepage') }}" alt="{{ product.title }}">
            </a>
            <p>{{ product.description }}</p>
            <br/>
            <span>{{ product.cost }} руб.</span>
        </div>
        <div class="p-foot">
            <label for = "incart">В корзину</label>
        </div>
    </div>
{% endmacro %}