{% extends '@App/layout.html.twig' %}

{% block content %}
    {{ render(controller('AppBundle:Component:gallery')) }}
    <div id="catalog">
        <div class="container clearfix">
            {% include '@App/Component/catalogMenu.html.twig' %}
            <div class="right-side clearfix">
                {% include '@App/Component/catalogBreadcrumbs.html.twig' %}
                <div class="rs-tovbox clearfix">
                    {% for product in pagination %}
                        {% set url = path('product', {'url': product.slug}) %}
                        <div class="rs-item clearfix">
                            <div class="prod">
                                <h3><a href="{{ url }}">{{ product.title }}</a></h3>
                                <a class="img-container" href="{{ url }}">
                                    <img src="{{ vich_uploader_asset(product, 'file')|imagine_filter('product_catalog') }}" alt="{{ product.title }}">
                                </a>
                                <p class="short-desc">{{ product.shortDescription }}</p>
                                <p class="cost">{{ product.cost }} руб.</p>
                                <div class="add-to-cart"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include '@App/Component/catalogBreadcrumbs.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

