{% extends '@App/layout.html.twig' %}

{% block content %}
    {% include '@App/slideshow.html.twig' %}
    <div class="margin"></div>
    <div id="katalog" class = "clearfix">
        {% include '@App/catalogMenu.html.twig' %}
        <div class="right-side clearfix">
            <div class="right-head">
                <div class="breadcrumbs">
                    {{ knp_menu_render('breadcrumbs', {template: 'AppBundle::breadcrumbs.html.twig'}) }}
                </div>
                <div class="sort">
                    <div class="btn-group">
                        <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Сортировать <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Начать с низкой цены</a></li>
                            <li><a href="#">Начать с высокой цены</a></li>
                            <li><a href="#">А-Я</a></li>
                            <li><a href="#">Я-А</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ciferki">
                    <ul class="pagination pagination-sm">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <div class="tovar-box clearfix">
                {% if products is not empty %}
                    {% for product in products %}
                        {% set url = path('product', {'url': product.slug}) %}
                        <div class="t-item">
                            <div class="item-head">
                                <a href="{{ url }}">{{ product.title }}</a>
                                <div class="raiting">
                                    <img src="img/star.png" alt="raiting" align="right">
                                </div>
                            </div>
                            <div class="item-middle">
                                <a href="{{ url }}"><img src="{{ vich_uploader_asset(product, 'file')|imagine_filter('product_list') }}" alt="{{ product.title }}" align="left"></a>
                                <p>Код товара: {{ product.code }}</p>
                                <p>{{ product.shortDescription }}</p>
                                <p><b>Цена: {{ product.cost }} руб</b></p>
                            </div>
                            <div class="item-footer">
                                <div class="present">
                                    <ul>
                                        <li><img src="img/yes.png" alt=""></li>
                                        <li>
                                            <p>В наличии</p>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-success">В корзину</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>В данной категории пока что нет товаров</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

