{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="catalog">
        <div class="container clearfix">
            {% include '@App/Component/catalogMenu.html.twig' %}
            <div class="right-side clearfix">
                <div class="rs-head clearfix">
                    {# Breadcrumbs #}
                </div>
                <div class="tovar-item clearfix">
                    <div class="main-field clearfix">
                        <div class="head clearfix">
                            <h2>{{ product.title }}</h2>
                        </div>
                        <div class="tov-body clearfix">
                            <a href="{{ vich_uploader_asset(product, 'file') }}" {#title="{{ product.title }}"#} {#data-lightbox-gallery="gallery1"#}>
                                <img src="{{ vich_uploader_asset(product, 'file')|imagine_filter('product_show') }}" alt="{{ product.title }}">
                            </a>
                            {#<div class="small">#}
                                {#<a href="img/tov1.jpg" data-lightbox-gallery="gallery1"><img src="img/tov1.jpg" alt=""></a>#}
                                {#<a href="img/tov1.jpg" data-lightbox-gallery="gallery1"><img src="img/tov1.jpg" alt=""></a>#}
                            {#</div>#}
                        </div>
                        <div class="tov-caption">
                            {{ product.description|raw }}
                            <br/>
                            <span>Цена: {{ product.cost|number_format(null, null, ' ') }} руб.</span><br/>
                            <div class="buttons">
                                <label for="incart" class="btn-cart">
                                    <i class="fa fa-cart-plus fa"></i>
                                    В корзину
                                </label>
                                <label for="1clickbuy" class="btnl"> Купить в 1 клик</label>
                            </div>
                        </div>
                    </div>
                    {#<div class="tabs">#}
                        {#<div class="menu1"><br id="tab2"/><br id="tab3"/> <a href="#tab1">Доставка</a><a href="#tab2">Оплата</a><a#}
                                    {#href="#tab3">Отзывы</a>#}

                            {#<div>Доставка по минску осуществляется бесплатно если вы приедете к нам на офис за товаром сами</div>#}
                            {#<div>Вы оплачиваете 100% заранее и только потом наше царское величество отдаст вам товар</div>#}
                            {#<div>На этот товар еще нет отзывово</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                {#<div class="rs-tovbox clearfix">#}
                    {#<div class="title">#}
                        {#<h2>Рекомендуем</h2>#}
                    {#</div>#}
                    {#{% for i in 1..4 %}#}
                        {#<div class="rs-item clearfix">#}
                            {#<div class="t-head clearfix">#}
                                {#<a href="#">Лак для наращивания ресниц</a>#}
                                {#<span>&#9733;&#9733;&#9733;&#9733;&#9734;</span>#}
                            {#</div>#}
                            {#<div class="t-body">#}
                                {#<img src="{{ asset('img/tov1.jpg') }}" alt="Лак для наращивания">#}

                                {#<p>Замечательный лак для наращивания#}
                                    {#ногтей. Отмывается за 2 минуты и придает#}
                                    {#волшебный блеск вашей коже</p><br/>#}
                                {#<span>50 000 руб.</span>#}
                                {#<br/><a href="#">Купить в 1 клик</a>#}
                            {#</div>#}
                            {#<div class="t-foot clearfix">#}
                                {#<span><img src="{{ asset('img/yes.png') }}" alt=""> Есть в наличии</span>#}
                                {#<label for="incart">В корзину</label>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
                <div class="rs-foot clearfix">
                    {# Breadcrumbs #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

