{% extends '@App/layout.html.twig' %}

{% macro articleItem(article) %}
    <div class="n-item clearfix">
        <a href="{{ path('article', {'slug': article.slug}) }}">
            <img src="{{ article.webPath|imagine_filter('article_small') }}" alt="{{ article.title }}" align="left">
        </a>
        <h3>{{ article.title }}</h3>
        <p>{{ article.description|striptags }}</p>
        <a href="{{ path('article', {'slug': article.slug}) }}">Читать полностью</a>
    </div>
{% endmacro %}

{% import _self as macros %}

{% block content %}
    <div id="poleznoe">
        <div class="container clearfix">
            <div class="wrap clearfix">
                <div class="title">
                    <h2>Полезные статьи по наращиванию ногтей и ресниц</h2>
                    <p>советы экспертов и профессионалов</p>
                </div>
                <div class="n-item-box-l">
                    {% for article in pagination %}
                        {% if loop.index is odd %}
                            {{ macros.articleItem(article) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="n-item-box-r">
                    {% for article in pagination %}
                        {% if loop.index is even %}
                            {{ macros.articleItem(article) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if pagination.paginationData.pageCount > 1 %}
                <div class="rs-foot clearfix">
                    <div class="pages">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {#<div class="container">#}
        {##}
    {#</div>#}
{% endblock %}