{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="banner">
        <div class="container">
            <div class="b-caption col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Материалы для <br/> <span><strong>Наращивания ногтей и ресниц</strong></span></h1>
                <h2><span>Маникюра и педикюра</span></h2>
                <p><i class="fa fa-check-circle-o"></i> Биоэпиляции </p>
                <p><i class="fa fa-check-circle-o"></i> Визажа</p>
                <p><i class="fa fa-check-circle-o"></i> Косметологии</p>
                <p><span>Внимание отправка в день заказа по всей РБ</span></p>
                <div class="action">
                    <a href="{{ path('catalog') }}" class="btn btn-warning">Перейти в каталог</a>
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#zakazatzvonok">
                        Бесплатная консультация
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="advantage">
        <div class="adv-itembox clearfix">
            <div class="adv-item">
                <img src="{{ asset('img/ico-pig.png') }}" alt="низкая цена" align="left">
                <p><span>Низкая цена</span></p>
                <p>мы первый поставщик и <br/> работаем без посредников
                </p>
            </div>
            <div class="adv-item">
                <img src="{{ asset('img/ico-car.png') }}" alt="низкая цена" align="left">
                <p><span>Бесплатная доставка</span></p>
                <p>закажите товаров на 450 000 и мы привезем их бесплатно
                </p>
            </div>
            <div class="adv-item ">
                <img src="{{ asset('img/ico-check.png') }}" alt="низкая цена" align="left">
                <p><span>Более 2000 товаров</span></p>
                <p>всегда в наличии в день заказа
                </p>
            </div>
        </div>
    </div>

    <div class="margin"></div>

    {% if products is not empty %}
        <div id="popular">
            <div class="title">
                <h2>Популярные товары</h2>
                <div class="simple-line"></div>
                <p>Ваши любимые товары</p>
            </div>
            <div class="margin"></div>
            <div class="p-itembox">
                {% for product in products %}
                    {% set url = path('product', {'url': product.slug}) %}
                    <div class="p-item">
                        <a href="{{ url }}">{{ product.title }}</a><br/>
                        <a href="{{ url }}">
                            <img src="{{ vich_uploader_asset(product, 'file')|imagine_filter('product_preview') }}" alt="{{ product.title }}">
                        </a>
                        <p>{{ product.shortDescription }}</p>
                        <p><b>Цена: {{ product.cost|number_format }} руб</b></p>
                        <div class="action">
                            <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#tovarvkorzine">В корзину</a>
                            <a href="{{ url }}" class="btn btn-default">Описание</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="margin"></div>

    {% if categories is not empty %}
        <div id="catalog">
            {% for category in categories %}
                {% set url = path('catalog', {'url': category.slug}) %}
                <div class="c-item ">
                    <h3><a href="{{ url }}">{{ category.title }}</a></h3>
                    <div class="simple-line"></div>
                    <a href="{{ url }}">
                        <img src="{{ vich_uploader_asset(category, 'file')|imagine_filter('category_preview') }}"
                             alt="{{ category.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="margin"></div>
    <div id="seotext">
        <div class="title">
            <h2>Seo текст о нас</h2>
            <div class="simple-line"></div>
            <p>интернет-магазин Irisk-bel.by</p>
        </div>
        <div class="margin"></div>
        <div class="container clearfix">
            <div class="text-box ">
                {{ configuration.get('TEXT_HOMEPAGE')|raw }}
            </div>
            <div class="vidos">
                <iframe align="left" width="100%" height="466" src="https://www.youtube.com/embed/XMh-q2GUR70"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="margin"></div>

{% endblock %}