{% extends '@App/layout.html.twig' %}

{% import '@App/Shop/macros.html.twig' as macros %}

{% block content %}
    {{ render(controller('AppBundle:Component:gallery')) }}
    <!----------------------------------------------------------------------------------->
    <div id="advantage">
        <div class="container clearfix">
            <div class="a-box clearfix">
                <div class="a-item price">
                    <p><span>Низкая цена</span><br/>
                        мы первый поставщик и <br>
                        работаем без посредников</p>
                </div>
                <div class="a-item deliv">
                    <p><span>Бесплатная доставка</span><br/>
                        закажите товаров на 450 000 <br>
                        и мы привезем их бесплатно </p>
                </div>
                <div class="a-item assort">
                    <p><span>Более 2000 товаров</span><br/>
                        всегда в наличии в день заказа
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------->
    <div id="popular">
        <div class="container">
            <div class="popular-back">
                <div class="title">
                    <h2>Популярные товары</h2>
                    <p>Новинки, спецпредложения, акции</p>
                </div>
                <div class="p-box clearfix">
                    {% for product in products %}
                        {{ macros.productItem(product) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------->
    <div id="main-catalog">
        <div class="container clearfix">
            <div class="catalog-wrapp">
                <div class="title">
                    <h2>Каталог товаров</h2>
                    <p>Всё что Вам нужно по категориям</p>
                </div>
                <div class="mc-box clearfix">
                    {% for category in categories %}
                        <!----------item---------------->
                        <div class="mc-item">
                            <a href="{{ path('catalog', {'path': category.slugPath}) }}">
                                <h3>{{ category.title }}</h3><br/>
                                <div class="just"></div>
                                <img src="{{ vich_uploader_asset(category, 'file')|imagine_filter('category_homepage') }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------->
    <div id="seo-text">
        <div class="container">
            <div class="wrapper">
                {{ configuration.get('TEXT_HOMEPAGE')|raw }}
            </div>
        </div>
    </div>
{% endblock %}